
 {% extends 'base.html.twig'%}

 {% block stylesheets %}
 {{parent()}}
 {% endblock %}
 

 {% block body %} 

 <h2 class="title">NUEVO USUARIO</h2>
 
 <form class="formuser" action="{{'/nuevousuario'}}">
     <label class="field" for="name">Nombre: </label>
     <input class="field" type="text" name="name" id="name">
     <label class="field" for="subname">Apellido: </label>
     <input class="field" type="text" name="subname" id="subname"> 
     <label class="field" for="email">Email: </label>
     <input class="field" type="text" name="email" id="email"> 
     <label class="field" for="pass">Contraseña: </label>
     <input class="field" type="password" name="pass" id="pass"> 
     <label class="field" for="address">Dirección: </label>
     <input class="field" type="text" name="address" id="address"> 
     
     <input type="submit" name="add_user">
 </form>
 
 <a href="{{ '/' }}"><button class="mt-5">Ir a inicio</button></a>       

 {% endblock %}
 {% block javascripts %}

 {% endblock %}
